.admin-main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    max-width: 1200px;
    min-height: 90vh;
    margin: 0 auto;
    padding: 35px 10px;
}

.admin-sidebar{
    grid-column: 1/4;
    background-color: #f4f4f6;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px 0px;
}

.sidebar-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.sidebar-nav button{
    display: block;
    background-color: inherit;
    font-family: Poppins,sans-serif;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    padding: 1rem 2rem;
    width: 100%;
}

.sidebar-nav button:hover{
    background-color: #497DE6;
    color: #f4f4f6;
    cursor: pointer;
}

.admin-section{
    grid-column: 5/13;
    background-color: #f4f4f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.hidden{
    display: none;
  }