.admin-main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    row-gap: 10px;
    column-gap: 10px;
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgba(145,167,255,1),rgba(37, 58, 142,0.95));
}

.admin-sidebar{
    grid-column: 1/5;
    grid-row: 1/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-nav{
    list-style: none;
    display: flex;
    width: 50%;
    height: 66.66%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin:auto;
    padding: 0;
}

.profile-bg{
    height: 16.66vh;
    width: 16.66vh;
    background-color: #F8F9FA;
    width: max-content;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
}

.profile-bg img{
    display: block;
    height: 100%;
}

.button-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container button{
    display: block;
    background-color: #F8F9FA;
    font-family: Poppins,sans-serif;
    border: 0px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    height: 25%;
    border-radius: 20px;
    width: 100%;
    transition: 0.3s;
}

.button-container button:hover{
    background-color: #141a24;
    color: #F8F9FA;
    cursor: pointer;
}

.option-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.option-container button{
    display: block;
    border: 0px none;
    border-radius: 9999px;
    padding: 20px;
    inset: 0px;
}
.option-container img:last-child{
    background-color: transparent;
}
.option-container :first-child{
    background-color: #FFE066;
}

.option-container :last-child{
    background-color: #FF6B6B;
}

.admin-section{
    grid-column: 5/13;
    grid-row: 1/7;
    background-color: #F8F9FA;
}

form{
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    font-size: 18px;
}

form h1{
    font-weight: 500;
    font-size: 36px;
}

label,select,input{
    display: block;
}

.flex-form{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

input{
    outline: 0;
    padding: 3px;
}

select{
    width: fit-content;
    font-family: Poppins,sans-serif;
    outline: 0px;
    border-radius: 3px;
    border: 1px solid #141a24;
    padding: 5px;
    background-color: inherit;
}

.hidden{
    display: none;
}