@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}
/* 
  Colours:
    Blues:
      #213866
      #7CA7FF (background)
      #497DE6 (button/highlight)
      #3F4C66
      #3962B3
    Black: #1e1e1e
    White: #f4f4f6
*/

body {
  margin: 0;
  background-color: #7CA7FF;
  color: #1E1E1E;
  font-family: Poppins, sans-serif;
}

header {
  background-color: #F4F4F6;
  width: 100%;

}

.nav-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}



.Logo{
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 24px;
}

nav{

  display: flex;
  justify-content: space-between;

}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a{
  text-align: right;
  text-decoration: none;
  padding: 1rem;
  font-size: 24px;
  color: inherit;
  font-weight: 400;
}

nav a:hover{
  color: #497DE6;
}
